<div style="text-align:center;margin-top: 30px;"> 
    <img src="/assets/images/Logobigsize.png" width="80px;" alt="">
    <h6>
        GHG REVIEW TOOLS
    </h6>
  </div>
  
  <div class="container">
   
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="/assets/images/1.jpg" alt="">
                <ul class="social">
                    <li><a href="/ghg-locator" >GHG Locator Tool</a></li>
                   
                </ul>
                <div class="team-content">
                  <h3 class="title">
                    <a href="/ghg-locator" >GHG Locator Tool</a>
                    </h3>
                   
                    <span class="post">GHG Review Tools</span>
                </div>
            </div>
        </div>
  
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="/assets/images/2.jpg" alt="">
                <ul class="social">
                   
                    <li><a href="/review-tool-home" >Comparison Tool</a></li>
                </ul>
                <div class="team-content">
                  <h3 class="title">
                    <a href="/review-tool-home" >Comparison Tool</a>
                    </h3>
                   
                    <span class="post">GHG Review Tools</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="our-team">
                <img src="/assets/images/3.jpg" alt="">
                <ul class="social">
                  <li><a href="/review-tool-home" >SODT <br>Statistical Outlier Detection Tool</a></li>
                    
                </ul>
                <div class="team-content">
                    <h3 class="title">
                      <a href="/review-tool-home" >SODT</a>
                      </h3>
                    <span class="post">GHG Review Tools</span>
                </div>
            </div>
        </div>
    </div>
  </div>